@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: GeneralSans;
    src: url(/assets/fonts/GeneralSans/GeneralSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: GeneralSans;
    src: url(/assets/fonts/GeneralSans/GeneralSans-Medium.ttf);
    font-weight: 600;
}
@font-face {
    font-family: GeneralSans;
    src: url(/assets/fonts/GeneralSans/GeneralSans-Bold.ttf);
    font-weight: 800;
}


@layer base {
    html {
        font-family: 'GeneralSans', system-ui, sans-serif;
    }
}
